.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
text{
  user-select: none
}

.background1{
  bottom: 121px;
  left: -26px;
  background: center / cover no-repeat url("./assets/template_scrapbook_2_1_image.png");
}
.background2{
  left: 138px;
  bottom: 0;
  background: center / cover no-repeat url("./assets/template_scrapbook_2_2_image.png");
}
