.text {
    display: inline-block;
    position: relative;
    font-family: Amiri;
    white-space:pre;

}

.textArea {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    resize: none;
    opacity: 0;
    overflow: hidden;
}

.selectedBox{
    fill: none;
    stroke: orange;
    stroke-width: 2;
}
